<section class="container p-3 mx-auto space-y-6">
  <h2 class="text-3xl">Upload Your Playlist</h2>
  <form class="new-playlist-form space-x-3">
    <div class="my-auto space-x-2">
      <label for="playlist-url">Link:</label>
      <input id="playlist-url" name="playlist-url" />
      <button type="submit" class="p-2 px-6 pt-2 bg-midnightblue text-lightcyan rounded-full baseline hover:bg-rosebonbon">Create</button>
    </div>
  </form>
</section>

{{#if playlists.length}}
<section class="container p-3 mx-auto space-y-6">
  <h2 class="text-3xl">Your Uploaded Playlists</h2>
  <ol>
    {{#each playlists as |playlist|}}
    <li>
      {{> playlist-info playlist}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
<script src="/javascript/favorite.js"></script>
<script src="/javascript/add-playlist.js"></script>
<script src="/javascript/logout.js"></script>