<!--flex container-->
<div
  class="container flex flex-col justify-center px-4 mt-10 space-y-12 md:space-y-0 md:flex-row"
>
  {{#if loggedIn}}
    <div class="fav-playlists flex flex-col space-y-6 md:w-1/2">
      <!--playlist partial-->
      <article class="post">
        <div class="playlist">
          <iframe
            style="border-radius:12px"
            src="https://open.spotify.com/embed/playlist/3s2clf9NBCgsJjBLNzaEeM?utm_source=generator"
            width="100%"
            height="380"
            frameBorder="0"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          ></iframe>
        </div>
      </article>
    </div>

    <div id="uploaded-playlists" class="flex flex-col space-y-6 md:w-1/2">
      <!--user.playlist partial-->
      <article class="post">
        <div class="playlist">
          <iframe
            style="border-radius:12px"
            src="https://open.spotify.com/embed/playlist/3s2clf9NBCgsJjBLNzaEeM?utm_source=generator"
            width="100%"
            height="380"
            frameBorder="0"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          ></iframe>
        </div>
      </article>
    </div>

  {{else}}

    <div class="fav-playlists">
      <!--playlist partial-->
      <article class="post">
        <div class="playlist">
          <iframe
            style="border-radius:12px"
            src="https://open.spotify.com/embed/playlist/3s2clf9NBCgsJjBLNzaEeM?utm_source=generator"
            width="100%"
            height="380"
            frameBorder="0"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          ></iframe>
        </div>
      </article>
    </div>
  {{/if}}
</div>