<!--flex container-->
<div class="container mx-auto px-4">
  {{#if loggedIn}}
  <div class="container grid grid-flow grid-col-2 space-y-3">
    <div class="fav-playlists">
      <h2 class="text-2xl mx-auto py-3 text-spacecadet">Hot Playlists 🔥</h2>
      <!--playlist partial-->
      {{#each playlists as |playlist|}}
      {{> playlist-info playlist}}
      {{/each}}  


    </div>
  </div>

  {{else}}
    <div class="fav-playlists">
      <h2 class="text-3xl mx-auto py-3 text-spacecadet">Hot Playlists 🔥</h2>
      <div class="grid grid-flow space-y-3">
            <!--playlist partial-->
        {{#each playlists as |playlist|}}
        {{> playlist-info playlist}}
        {{/each}}
      </div>
    </div>
  {{/if}}
</div>
{{#if loggedIn}}
<script src="/javascript/favorite.js"></script>
{{/if}}